.swiper-slide {
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    perspective: 1000px;
  }
  
  .desc {
    transition: all 300ms ease-in-out;
    background-color: #181818c4;
    height: 170px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .desc:hover {
    transition: all 300ms ease-in-out;
  }
  
  .desc.tv {
    height: 60px;
  }
  
  .swiper-slide img {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 350px !important;
    object-fit: cover;
    transition: transform 500ms ease-in-out;
  }
  
  .swiper-slide img:active {
    cursor: grabbing;
  }
  
  .swiper-slide:hover {
    transform: scale(1.03) rotateY(10deg);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    z-index: 1;
  }
  
  .swiper-slide:hover img {
    transition: transform 500ms ease-in-out;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }
  
  .swiper-slide {
    transform-origin: center center;
  }
  
  @media screen and (max-width: 599px) {
    .swiper-slide img {
      max-width: 100%;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  
    .grid-cols-7 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .mt-5 {
      margin-top: 0.5rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    .swiper-slide img {
      max-width: 100%;
      border-radius: 2px;
    }
  
    .grid-cols-7 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .mt-5 {
      margin-top: 0.5rem;
    }
  }